<div class="row">
    <div class="columns large-12">
        <h1>Editing appointment</h1>
    </div>
</div>
<div class="row">
    <div class="columns large-11">&nbsp;</div>
    <div class="columns large-1"><%= link_to 'Back', appointments_path, :class => 'button small radius' %></div>
</div>
<p>
    <%= render 'form' %>
</p>